<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title | default: site.github.repository_name }}</title>
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        {% if page.path == 'joomla-module-workflow-article.html' %}
          <a href="http://git.hallhome.us" class="btn">View on Github</a>
        {% else %}
          <a href="/joomla-module-workflow-article.html" class="btn">View Packager Documentation</a>
        {% endif %}
      </header>
      <main>
        {{ content }}
      </main>
      <footer>
        {% if site.show_downloads %}
          <ul>
            <li><a href="{{ site.github.zip_url }}">Download as .zip</a></li>
            <li><a href="{{ site.github.tar_url }}">Download as .tar.gz</a></li>
          </ul>
        {% endif %}
        <p><a href="{{ site.github.repository_url }}">View on GitHub</a></p>
      </footer>
    </div>
  </body>
</html>
